@import "tailwindcss";

@theme{
--color-zwart: #1F1E1E;
--color-cremewit: #FFFDF3;
--color-lblauw: #CDFFF9;

--font-heading: 'Impact', sans-serif;
--font-body: 'Lato', sans-serif;
}


body {
  background: var(--color-zwart);
}
